.users {
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  padding-bottom: 1px;
}

.users_inner {
  margin: 0 20px;
  margin-bottom: 50px;
  position: relative;
}

.users_title {
  padding-top: 10px;
}

.users__pagination {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.users__pagination span {
  padding: 5px 10px;
  cursor: pointer;
}

.users__pagination span.active {
  background-color: #edeef0;
}

.users_item {
  display: flex;
  margin-bottom: 20px;
}

/* .users_item+.users_item {
  margin-top: 20px;
} */

.users_img {
  width: 60px;
  height: 60px;
}

.users_img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

/* .user_profile__btn {
  width: 50px;
  height: 20px;
} */

.user_profile__btn button {
  margin-top: 15px;
  width: 75px;
  height: 25px;
  background-color: #edeef0;
  color: #4a76a8;
  box-shadow: none;
  border: none;

  cursor: pointer;
}

.user_profile__btn button:disabled,
.user_profile__btn button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.user_profile__btn.active button {
  background-color: #4a76a8;
  color: #fff;
}

.user_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user_name {
  font-size: 18px;
  font-weight: 500;
}

.user_location {
  width: 20%;
}